* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Sekuya", system-ui;
    font-size: 50px;
    margin-top: 30px;
}

/* #srch {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    max-width: 400px;
} */

#wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
}


#taskform {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

input,
button {
    padding: 0.5em;
}

#txttask {
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    font-size: large;
}

li {
    cursor: pointer;
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    margin-bottom: 5px;
}

.done {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;

}

.done:hover {
    background-color: rgb(202, 202, 202);
}

.del {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.del:hover {
    background-color: rgb(202, 202, 202);
}

input,
.item {
    flex: 1;
}

ul {
    list-style: none;
}

#sub {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;

    }

    #wrapper {
        margin-left: 0.5px;
    }

    #results {
        width: 375px;
    }



}